#contatos-navbar {
    background-color: #BCBCBC;
    padding: 10px 20px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

#hello-user{
    font-size: 22px;
}

#dropdown-menu{
    display: flex;
    justify-content: flex-end;

    width: 20%;
}

#dropdown {
    background-color: #B77922;
    color: white;
    border: none;

    padding: 10px;
    border-radius:5px;
    width: 60%;

    font-size: 18px;
}
#dropdown:hover {
    background-color: #FFFFFF;
    color: #B77922;
}

#admin-footer {
    background-color:#949494;
    width:100%;

    padding: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.img_footer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
