input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 10px 0;
}

/**/
.toggle-container {
    position: relative;
    width: 60px;
    height: 30px;
  }

  .checkbox-input {
    display: none;
  }

  .toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 15px;
    transition: 0.4s;
  }

  .checkbox-input:checked + .toggle {
    background-color: #008000;
  }

  .toggle::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }

  .checkbox-input:checked + .toggle::before {
    transform: translateX(30px);
  }


/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

body {
  margin: 0;
  width: 100%;

  display:flex;
  flex-direction: column;
  /* gap: 15px; */

}

* {
  box-sizing: border-box;
}

.image-warning {
  color: red;
}

.cadastro-divisor {
  width: 100%;
  margin-top: 30px;
}

.div-center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.div-center-gap {
  gap: 10px;
  flex-wrap: wrap;
}

* {
  font-family: 'roboto', sans-serif;
  box-sizing: border-box;
}


/* abas */
#abas {
  display: flex;
  justify-content: center;
  width: 100%;

  margin-bottom: 10px;

}

.aba-option {
  padding: 10px 10%;
  background-color:#1B657A;
  color: white;
  border: none;
  /* transition: all 0.2s; */

  text-decoration: none !important;
}
.aba-option:hover {
  background-color:white;
  color: #1B657A;
  border:none;
  text-decoration:underline;

  box-shadow: inset 0 0 0 3px #1B657A;
}
.aba-option-selected {
  background-color:white;
  color: #1B657A;
  border:none;
  text-decoration:underline;

  box-shadow: inset 0 0 0 3px #1B657A;
}

#btn-aba-casa {
  border-radius: 15px 0 0 15px;
}
#btn-aba-terreno {
  border-radius: 0 15px 15px 0;
}

/* estilização e layout */

.add-input {
  border:none;
  background-color: #D9D9D9;
  padding: 2vh 2vw;
  border-radius: 15px;
}

.add-layout {
  display:flex;
  flex-direction: column;
  justify-self: center;
  padding: 2vw 6vw;
  margin: 0 6vw 2vw 6vw;

  /* border-left:#1B657A solid 2px;
  border-right:#1B657A solid 2px; */
  /* border-radius: 15px;
  border-style: solid;
  border-color: #1B657A; */

}
h1 {
  margin:0;
  text-align: center;
  background-color: #1B657A;
  color: white;
  padding: 10px;
  border-radius: 15px;
}

#titleAdicionar{
    display: flex;
    justify-content: center;
}

/* Setando tamanho da imagem que irá aparecer */
.img{
    width: 300px;
    height: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagePreviewCasa,
#imagePreviewAp,
#imagePreviewTerreno,
#imagemPreviewEdit{
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
    padding: 2vw;
    margin: 2vw 0;

    border-width: 2px;
    border-style: dashed;
    border-color: black;
}



.opaco {
    opacity: 0.5; /* Opacidade inicial */
}

.divBtnEnviar{
    display: flex;
    justify-content: center;
}

.btn-add-prod {
  background-color: #CE990F;
  padding: 3vh 3vw;
  border-radius: 15px;
  margin-top: 30px;
  width: 60%;
  text-decoration: none !important;

  transition: all 0.2s;
}
.btn-add-prod:hover {
  background-color: white;
  color:#CE990F;
  box-shadow: inset 0 0 0 5px #CE990F;
  text-decoration: underline;
}

/* edição de imóvel */
.img-title-label {
  font-size: 24px;
  text-align: center;
  width: 100%;
}
.image-list-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;

  gap: 10px;

  padding: 10px;
  /* border:#1B657A solid 1px; */
  border-radius: 15px;
  margin: auto;
}
.image-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  justify-content: flex-start;

  width: 90%;
  margin: auto;
}

.image-list-buttons {
  display:flex;
  justify-content: space-around;
}
.image-list-button {
  width:33.33%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
#bntTrocarPrincipal {
  background-color: #1B657A;
  color: white;
}
#imovel-remover {
  background-color: red;
  color: white;
}

.checkbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    /* flex-direction: column;
    align-items: flex-start; */
    border-radius: 15px;
    background-color: #D9D9D9;
    padding: 15px 20px;
    flex-wrap: wrap;
}
.check-item {
  display: flex;
  align-items: center;
}
.checkbox input{
    width: 35px;
    height: 18px;
}

.checkbox label{
    margin-right: 30px;
}

.image-list-content {
  width: max(232px,30%);

  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 10px;
  border:#1B657A solid 1px;
  border-radius: 15px;
}

.edit-img-frame {
  width:100%;
  height: 200px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  margin: auto;
}
#main-img {
  width:50%;
  height: 300px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;

  background-size: 100%;
}

.btn-delete-image {
  width:100%;
  background-color: red;
  border-radius: 5px;
  position: relative;
  top: 0;
  z-index: 1;
}

#title-editar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title-editar h1{
    width: 88%;
}

#title-editar p {
    font-size: 28px;
    font-weight: bold;
}

#salvar {
  background-color:#1B657A;
  color:white;
  padding: 20px;
  border:none;
}
#salvar:hover {
  background-color:rgb(158, 158, 158);
  color:#1B657A;

}

/* Voltar */

#btn-voltar {
  background-color:#1B657A;
  color:white;
  position: fixed;
  z-index: 3;
  top: 10px;
  left: 10px;
  border:none;

  padding: 10px;
  border-radius: 5px;
}
#btn-voltar:hover {
  background-color:white;
  color:#1B657A;
}

/* sistema de abas */

#tabs {
  border: #1B657A 3px solid;
}

#tab-system {

  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.tab-button {
  background-color: red;
  color: white;
  border: none;
  padding: 20px 50px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.tab-unselected {
  background-color:#D9D9D9;
  color: black;
}

.tab-selected {
  background-color:#1B657A;
  color: white;
}

.tab-divider {
  margin-top: 50px;
  width: 80%;
  border:#1B657A 1px solid;
  border-radius: 15px;
}

.button-float {
  position: sticky;
  bottom: 20px;
  right: 20px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.5);
}

/* media queries */

@media (max-width:600px) {
  h1 {
    border-radius: 0;
  }
  .btn-add-prod {
    border-radius: 15px;
  }

  .aba-option {
    padding: 10px 5%;
    /* transition: all 0.2s; */

    text-decoration: none !important;
  }

  .tab-button {
    width: 20%;
    text-align: center;
  }
  .tab-buttons {
    margin: auto;
  }

  .checkbox {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

}

@media (max-width:750px) {
  .image-flex {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width:1158px) {
  .checkbox {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width:852px) {
  .checkbox {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width:586px) {
  .checkbox {
    grid-template-columns: 1fr;
  }
}
