body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Tabelas */
.table-div {
    max-width: 100vw;
    overflow-x: scroll;
}

/* classes */

.table-header {
    background-color: white;
}
.table-title {
    padding: 20px;
    background-color: #b77922;
    color: white;
    font-size: 18px;
}

.table-body {
    background-color: rgb(237, 237, 237);
}
.body-info {
    padding: 20px;
    text-align: center;
    border-bottom: #cfcfcf 1px solid;
}

.button-info {
    cursor: pointer;
    border: none;
    padding: 5px;
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0);
    color: #1b657a;
}

/* classes popup */

.dados-title {
    color: white;
    background-color: #5e5e5e;
    padding: 10px;
    margin: 0;

    border-radius: 15px 15px 0 0;
    text-align: center;
}
.dados-info {
    margin: 0;
    background-color: #dfdfdf;
    padding: 10px;

    border-radius: 0 0 15px 15px;
    /* text-align: center; */
}
.cliente-dados {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 80%;
}

.cliente-botoes {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.cliente-btn {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    color: white;
}

/* IDs */
#request-table {
    overflow: hidden;
    border-collapse: separate;
    width: 90%;
    margin: auto;
    margin-top: 15px;
}
#request-table tbody:nth-child(odd) {
    background-color: rgb(237, 237, 237);
}
#request-table tbody:nth-child(even) {
    background-color: rgb(209, 209, 209);
}

#corpo {
    width: 100%;
    display: flex;
    justify-content: center;
}

#popup-informacoes {
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

    z-index: 999;
    width: 50%;

    max-height: 80vh;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#cliente-apagar {
    background-color: #e12b2b;
}
#cliente-apagar:hover {
    background-color: white;
    color: #e12b2b;
    text-decoration: underline;
}

#cliente-solucionar {
    background-color: #00cd15;
}
#cliente-solucionar:hover {
    background-color: white;
    color: #00cd15;
    text-decoration: underline;
}

#btn-popup-fechar {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease;
    font-size: 18px;
}

#btn-popup-fechar:hover {
    color: #ce990f;
    background-color: transparent;
}

.solved-1 {
    background-color: rgb(145, 255, 145);
}

.solved_new-1 {
    background-color: rgb(145, 255, 145) !important;
}

/* teste */
.responsive {
    overflow-x: scroll;
    width: 90%;
    margin: auto;
}

@media (min-width: 767px) {
    .responsive {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    #request-table {
        border-radius: 15px;
    }
}

@media (max-width: 600px) {
    #popup-informacoes {
        width: 100%;
    }
}
