/* configurações gerais */
body {
    margin: 0;
    background-color: #CBCBCB;
}

* {
    font-size:18px;
    font-family: 'roboto', sans-serif;
}

#user-dados {
    width:100vw;
}

/* divs */
#user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    background-color: white;
    margin: 20px 30px;
    padding: 10px;
}

#user-options {
    display: flex;
    background-color: white;
    margin: 20px 30px;
    padding: 10px;
    gap:15px;
}

/*criando*/

.user-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative; /*Assim o input fica relativo a img*/
}

.user-input {
    width: 40vw;
    background-color: #D9D9D9;
    border: none;
    border-radius: 15px;
    padding: 15px 1vw;
    color: #222222;

}

.svg-icon {
    width: 30px; /* Mudei o tamanho para melhor visualização */
    position: absolute; /* Posicionei o ícone de forma absoluta, diferente do relativo que deixei o container*/
    right: 15px; /* Ajustei a posição do ícone para a direita */
    top: 50%; /* Posicionei verticalmente o ícone no centro */
    transform: translateY(-50%); /* Ajustei a posição vertical*/
  }

/*criando*/

/* input */

/* botões */
.user-btn {
    border: none;
    padding: 10px 15vw;
    border-radius: 15px;
    color:white;
}
#btn-salvar {
    background-color: #B77922;
}
#btn-sair {
    background-color: rgb(216, 20, 20);
}

#user-options p {
    color: rgb(216, 20, 20);
}

/* img */
#user-picture {
    border-radius: 100%;
    background-color: #B77922;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-picture h1{
    font-size: 50px;
}

@media (max-width: 600px) {
    .user-input {
        width: 70vw;
    }
    #user-options {
        flex-direction: column;
    }
    #user-options p {
        text-align: center;
    }
    .user-btn {
        padding: 10px 20vw;
    }
}
